.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  > a,
  button {
    background-color: #eee;

    border-radius: 0.2rem;
    border: 1px solid transparent;

    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.1s;

    cursor: pointer;
  }

  > a:hover,
  a:focus,
  button:hover,
  button:focus {
    background-color: white;

    box-shadow: 0 0 0 3px #eee;

    border-color: #333;

    outline: none;
  }

  > a:global(.active) {
    background-color: white;

    box-shadow: 0 0 0 3px #fea;

    border-color: #fb1;
  }

  > a:global(.active) svg > * {
    fill: #fb1;
  }
}
